@import "tailwindcss";
@import "./fonts.css";
@import "./utilities.css";
@import "./theme.css";

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-body);
  color: var(--color-blue);
}
