@theme {

  --font-body: Urbanist, "sans-serif";
  --font-bold: Urbanist-bold, "sans-serif";

  /*Base*/
  --color-bg: #084579;       /* azul noche*/
  --color-blue: #3174AE;     /* azul intermedio */
  --color-gray: #8199B7;     /* gris azulado */
  --color-yellow: #D7A217;   /* amarillo intenso */
  --color-yellow2: #A6800B;  /* amarillo más oscuro */
  --color-modal-overlay: #363636;
  --color-litle-gray: #969696;

}