@theme {
  --font-body: "Poppins", Arial, sans-serif;

  /*Base*/
  --color-dark-blue: #0A2F50; /* azul noche*/
  --color-blue: #084579; /* azul */
  --color-bgray: #8199B7; /* gris azulado */
  --color-yellow: #D7A217; /* amarillo intenso */
  --color-yellow2: #A6800B; /* amarillo más oscuro */
  --color-light-bgray: #E6E9EE; /* gris claro */
  --color-modal-overlay: #363636;
  --color-gradient-radial: radial-gradient(circle at 50% 80%, var(--color-blue) 60%, var(--color-dark-blue) 100%);
  --color-gradient-lineal: linear-gradient(180deg, white 0%, white 30%, var(--color-bgray) 140%);
}