@utility text-title {
    font-family: var(--font-bold);
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0;
}

@utility card-title {
    font-family: var(--font-bold);
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
    color: white;
}

@utility card-description {
    font-size: 15px;
    letter-spacing: 0;
    text-align: center;
    color:white;
}
