@layer utilities {
    .section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #f3f4f6;
        padding-top: 6rem;
        padding-bottom: 6rem;
        gap: 2rem;
    }

    .section-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    @media (min-width: 640px) {
        .section-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: 1024px) {
        .section-grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@utility text-title {
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 0;
    color:var(--color-blue);
}

@utility card-title {
    font-size: 20px;
    text-align: center;
}

@utility card-description {
    font-size: 15px;
    text-align: center;
}